* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100vw;
    height: 100vh;
}

.header-container > img {
  width: 400px;
}

.header-container > form {
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.header-input {
  width: 100px;
  padding: 10px;
  border-radius: 5px;
}

.header-button {
    background-color: brown;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 4px 8px rgb(145, 145, 145);
    color: white;
    cursor: pointer;
}

.header-button:disabled {
  background-color: rgba(165, 42, 42, 0.714);
  cursor:default;
}